gun_violence_cleaned.csv
CLAUDE.md
gun_violence_data.csv
gun_violence_data.csv.zip
us_pop_by_state.csv
region_counts.csv
state_incident_data.csv
HDPulse_data_export.csv
HDPulse_data_export_family.csv
poverty_by_state.csv
teens_by_state.csv
unemployment_jan2016.csv